<!DOCTYPE html>
<html lang="en">
<head>
    <title>Genie Web Dev Engine</title>

    <style id="element">

    </style>
    <link rel="stylesheet" type="text/css" href="../lib/css/nav.css">
    <style id="element-utilities">
        .align-center {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        .initial {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            border: 1px solid gray;
            cursor: all-scroll;
            background-color: white;
            position: absolute;
        }

        .align-center-left {
            align-items: center;
            display: flex;
            justify-content: left;
        }

        .align-center-right {
            align-items: center;
            display: flex;
            justify-content: right;
        }

        .align-top-right {
            display: flex;
            justify-content: right;
        }


    </style>
    <link rel="stylesheet" href="../lib/css/Genie.css">
    <link rel="stylesheet" href="../lib/css/styles.css">
    <link rel="stylesheet" href="../lib/css/element.css">
    <link rel="stylesheet" href="../lib/css/contextmenu.css">
    <link rel="stylesheet" href="../sources/fonts/icomoon/icomoon.css">
</head>
<body>

<div class="container" id="container">
    <div class="window" id="window">
        <div class="window_top fill_width">
            <div id="window_title" class="window_title normal_drag" draggable="true">
                <p class="inert">window</p>
            </div>
            <div class="window_controls">
                <button class="window_maximize">
                    O
                </button>
                <button class="window_close">
                    X
                </button>
            </div>

        </div>
        <div id="window_body" class="window_body fill_width">
            <!--<div class="window_body_left fill_height">

            </div>
            <div class="window_body_right fill_height">
                &lt;!&ndash;<div class="window_body_right_top fill_width">
                    <textarea class="code_display"></textarea>
                </div>&ndash;&gt;
                <div class="window_body_right_bottom fill_width">
                    <form class="q_box fill_height" method="post" action="../server/ServerRequest.php" onsubmit="return rqst()">
                        <button type="submit" class="ok fill_height btn">ok</button>
                        <button class="cancel fill_height btn">cancel</button>
                    </form>
                </div>
            </div>-->
        </div>
    </div>
    <div class="genie-top-nav fill_width">
        <div class="home top_item align_center">
            <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                <use xlink:href="../sources/svg_icons.svg#cat-home"></use>
            </svg>
            <a class="link align_center">
                Home
            </a>
        </div>
        <div class="about top_item align_center">
            <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                <use xlink:href="../sources/svg_icons.svg#cat-home-audio"></use>
            </svg>
            <a class="link align_center">
                about
            </a>
        </div>
        <div class="products top_item align_center">
            <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                <use xlink:href="../sources/svg_icons.svg#add-cart"></use>
            </svg>
            <a class="link align_center">
                products
            </a>
        </div>
        <div class="other top_item align_center">
            <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                <use xlink:href="../sources/icons.svg#success"></use>
            </svg>
            <a class="link align_center">
                other
            </a>
        </div>
        <div class="logo top_item align_center" style="float: left">
            <h1>GENIE</h1>
        </div>
    </div>
    <div class="genie-toolbar fill_width">
        <div title="click to adjust position" class="genie-toolbar-item fill_height align_center col" id="Q">
            <svg viewBox="0 0 24 24" class="ic" width="90%" height="90%">
                <use xlink:href="../sources/icons.svg#quad-pos-arrow"></use>
            </svg>
        </div>
        <div title="click to resize" class="genie-toolbar-item fill_height align_center col" id="W">
            <svg viewBox="0 0 24 24" class="ic" width="90%" height="90%">
                <use xlink:href="../sources/icons.svg#quad-size-arrow"></use>
            </svg>
        </div>
        <div title="click to rotate" class="genie-toolbar-item fill_height align_center col" id="E">
            <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                <use xlink:href="../sources/icons.svg#success"></use>
            </svg>
        </div>
        <div title="click to " class="genie-toolbar-item fill_height align_center col" id="R">
            <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                <use xlink:href="../sources/icons.svg#done"></use>
            </svg>
        </div>
        <div title="click to add traditional tool " class="genie-toolbar-item fill_height align_center col" id="T">
            <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                <use xlink:href="../sources/svg_icons.svg#cat-home"></use>
            </svg>
        </div>
        <div title="click to append element on mouse up" class="gti fill_height align_center col toolbar-item-color"
             id="A">A
        </div>
        <div id="convert2perc" class="content-btn fill_height align_center">Convert to %
            <div id="m-option" class="zero-h">
                <div class="choose-cls-cont">
                    <input id="m-option-w" type="checkbox" class="choose-cls">
                    <span class="cls-title">width</span>
                </div>
                <div class="choose-cls-cont">
                    <input id="m-option-h" type="checkbox" class="choose-cls">
                    <span class="cls-title">height</span>
                </div>
                <div class="choose-cls-cont">
                    <input id="m-option-l" type="checkbox" class="choose-cls">
                    <span class="cls-title">left</span>
                </div>
                <div class="choose-cls-cont">
                    <input id="m-option-t" type="checkbox" class="choose-cls">
                    <span class="cls-title">top</span>
                </div>
            </div>
        </div>
        <div id="generate" class="content-btn fill_height align_center">generate

        </div>
    </div>
    <div id="genie-instant-toolbar" class="genie-instant-toolbar fill_width">
        <!--<div title="click to resize" class="gti fill_height align_center col toolbar-item-color" id="B">B</div>
        <div title="click to rotate" class="gti fill_height align_center col toolbar-item-color" id="I">I</div>
        <div title="click to " class="gti fill_height align_center col toolbar-item-color" id="Color">Color</div>
        <div title="click to " class="gti fill_height align_center col toolbar-item-color" id="Background">Background
        </div>-->
    </div>
    <div class="genie-top fill_width">
        <div class="genie-left-nav">
            <div class="genie-left-nav-item">
                <div>
                    <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                        <use xlink:href="../sources/svg_icons.svg#cat-appliance"></use>
                    </svg>
                </div>

                <span>
                    Design
                </span>
            </div>
            <div class="genie-left-nav-item">
                <div>
                    <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                        <use xlink:href="../sources/svg_icons.svg#categories"></use>
                    </svg>
                </div>

                <span>
                    Elements
                </span>
            </div>
            <div class="genie-left-nav-item">
                <div>
                    <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                        <use xlink:href="../sources/svg_icons.svg#categories"></use>
                    </svg>
                </div>

                <span>
                    Tables
                </span>
            </div>
            <div class="genie-left-nav-item">
                <div>
                    <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                        <use xlink:href="../sources/svg_icons.svg#inp"></use>
                    </svg>
                </div>

                <span>
                    Fields
                </span>
            </div>
            <div class="genie-left-nav-item">
                <div>
                    <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                        <use xlink:href="../sources/svg_icons.svg#cat-books"></use>
                    </svg>
                </div>

                <span>
                    Uploads
                </span>
            </div>
            <div class="genie-left-nav-item">
                <div>
                    <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                        <use xlink:href="../sources/svg_icons.svg#cat-home-audio"></use>
                    </svg>
                </div>

                <span>
                    Text
                </span>
            </div>
            <div class="genie-left-nav-item">
                <div>
                    <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                        <use xlink:href="../sources/svg_icons.svg#cat-othercategories"></use>
                    </svg>
                </div>

                <span>
                    Projects
                </span>
            </div>
            <div class="genie-left-nav-item">
                <div>
                    <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                        <use xlink:href="../sources/svg_icons.svg#coupon"></use>
                    </svg>
                </div>

                <span>
                    Apps
                </span>
            </div>
        </div>
        <div class="genie-sec-layout-cont fill_height col">

            <div class="genie-compressed-layout fill_height col">

            </div>
            <div class="my-collapse">
                <svg viewBox="0 0 24 24" class="ic" width="100%" height="100%">
                    <use xlink:href="../sources/svg_icons.svg#arrow-back"></use>
                </svg>
            </div>
        </div>

        <div class="separator normal_drag normal_drag fill-height fill_height"></div>

        <div class="paint-field-container-cont" id="paint-field-container-cont">


        <div id="paint-field-container" class="paint-field-container fill_height col">
            <div class="paint-temp-cont" id="paint-temp-cont">
                <div class="genie-paint-field fill_height col" id="genie-paint-field"></div>
            </div>
        </div>

        </div>
        <div class="separator normal_drag fill-height fill_height"></div>
        <div id="genie-styles" class="genie-styles fill_height col">
            <div id="genie-styles-top" class="tab-top">
                <div id="style-tab-title" class="tab-btn tab align_center">styles</div>
                <div id="class-tab-title" class="tab-btn tab align_center">classes</div>
            </div>
            <div id="genie-styles-body" class="tab-body tab-main-body fill_width">
                <div id="genie-styles-main" class="genie-style-mains fill_width">
                    <div id="genie-styles-main-top" class="fill_width"></div>
                    <div class="separator normal_drag fill-width fill_width"></div>
                    <div id="genie-styles-main-class-pane" class="fill_width">
                        <div id="genie-styles-main-class-pane-top" class="tab-top fill_width">
                            <div id="all-cls-tab-title" class="style-tab tab align_center">all cls</div>
                            <div id="selected-cls-tab-title" class="style-tab tab align_center">selected</div>
                        </div>
                        <div id="genie-styles-main-class-pane-body tab-main-body" class="tab-body">
                            <div id="genie-all-cls-main" class="genie-style-mains fill_width"></div>
                            <div id="genie-selected-cls" class="genie-style-mains fill_width"></div>
                        </div>
                    </div>
                </div>
                <div id="genie-classes-main" class="genie-style-mains fill_width">
                    <div id="genie-new-style">
                        <label id="special-create" class="">
                            <input placeholder="new class rule" id="input-new-class"/>
                            <button id="create-new-class-btn">create</button>
                        </label>
                    </div>
                    <div id="genie-new-style-field">
                        <div id="all-cls-pl"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separator normal_drag fill-width fill_width"></div>
    <div class="genie-bottom fill_width">
        <div class="slidecontainer">
          <input type="range" min="1" max="200" value="50" class="slider" id="myRange">
          <p>Value: <span id="demo"></span></p>
        </div>
    </div>
</div>


<script src="../lib/Js/utilities/globals.js"></script>
<script src="../lib/Js/utilities/cookie.js"></script>
<script src="../lib/Js/external/axios.min.js"></script>
<script src="../lib/Js/external/jquery-3.3.1.min.js"></script>
<script src="../lib/Js/external/jquery.dajax.js"></script>
<script src="../lib/Js/utilities/constantMarkups.js"></script>
<script src="../lib/Js/utilities/send.js"></script>
<script src="../lib/Js/utilities/utilities.js"></script>
<script src="../lib/Js/utilities/element.js"></script>
<script src="../lib/Js/utilities/contextmenu.js"></script>
<script src="../lib/Js/utilities/styles.js"></script>
<script src="../lib/Js/utilities/clip-objects.js"></script>
<script src="../lib/Js/utilities/svg_viewboxer.js"></script>
<script src="../lib/Js/utilities/super_generate.js"></script>
<script>
    function GenieApplication() {
        new Compressed_layout("genie-compressed-layout", "container", boundary.el).init();
        this.events = new Events().default();
    }

    new GenieApplication();

</script>
</body>
</html>


